footer{
    display: flex;
    justify-content: space-around;
    .left{
        display: flex;
        a{
            color: black;
            margin-right: 1rem;
            transition: 0.25 ease;
        }
        a:hover{
            color: rgb(66, 101, 255);
        }
    }
    .right{
        ul{
            display: flex;
            a{
                color: black;
                margin-right: 1rem;
                transition: 0.25 ease
            }
            a:hover{
                color:  rgb(66, 101, 255);
            }
            
        }
    }
}