#head{
    ul{
        display: flex;
        justify-content: center;
        li{
            margin: 2rem;
            a{
                color: black;
              
                
            }
        }
    }

}

