@use "../abstract/mixins" as m;


#head{
    ul{
        display: flex;
        justify-content: center;
        li{
            margin: 2rem;
            .btn{
                @include m.button;
                color: black;
            }
            .btn:hover{
                background-color: white;
            }
        }
    }

}

